<!DOCTYPE html>
<html>
<head>
    <title>Author Details</title>
</head>
<body>
    <h1>Details for {{ author.username }}</h1>
    <img src="{{ author.picture }}" alt="{{ author.username }}" style="width:100px;height:100px;">
    <p>Email: {{ author.email }}</p>
    <p>Number of Books: {{ author.nb_books }}</p>
    <a href="{{ path('list_authors') }}">Back to Authors List</a>
</body>
</html>
